.branding-card-B {
    height: 28vh;
    width: 80vw;
}

.branding-card-B-img-section {
    padding: 0% 1% 0% 1%;
    height: 28vh;
    width: 45vw;
    margin: 0%;
}

.branding-card-B-section-text {
    margin-top: 1%;
}

.branding-card-B-img {
    height: 20vh;
    width: 45vw;
}

.branding-card-B-content {
    margin: 0% 1% 0% 1%;
    align-items: center;
}

.branding-card-B-icon {
    height: 15px;
    width: 15px;
    margin-right: 4%;
}

#social-media-card {
    height: 20vh;
}

#social-media-branding {
    align-items: center;
    height: 20vh;
}

#social-media {
    margin: 3% 0% 3% 0%;
}