.branding-card-A {
    margin-top: 10px;
    width: 80vw;
}

.branding-card-A-img {
    height: 20vh;
    width: 50vw;
}

.branding-card-A-content {
    margin-left: 5%;
}

.contact-map-img {
    height: 20vh;
    width: 25vw;
}

#find-us-cards {
    margin-top: 20px;
}