.card {
    border: 1px solid #00000015;
    box-shadow: 0px 4px 8px #000000;
    flex: 0 0 auto;
}

.card-img {
    height: 25vh;
    width: 20vw;
    align-self: center;
}

.card-content {
    width: 20vw;
    position: relative;
}