#nav-bar {
    grid-area: nb;
    justify-content: space-between;
}

#nav-slide-button {
    height: 28px;
    width: 28px;
    margin-right: 2.5%;
}

#logo {
    width: 110px;
    height: 30px;
}
